@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');

a {
    text-decoration: none;
}

mark {
    font-family: 'Lucida Console', 'Menlo', 'Andale Mono', monospace;
    font-size: 0.6em;
    padding: 0.1em;
    line-height: 1;
    position: relative;
    top: -0.1em;
}

a {
    color: #1565C0;
}

a:hover, a:link {
    color: #4527a0;
}