a {
    text-decoration: none;
}
mark {
    font-family: 'Roboto Mono', 'Menlo', 'Andale Mono', monospace;
    font-size: 0.6em;
    padding: 0.1em;
    line-height: 1;
    position: relative;
    top: -0.1em;
}